body
	{
		font-family: Arial;			/*Seems to only affect the page tabs?*/
		font-size:9pt;				/*Seems to have no visible effect*/
		background:url(images/nav-bg.png); 		/*The background colour of the lowest background*/
	}
	
#main_div							/*The main central page that contains everything*/
	{
		position: absolute;
		top:0;						/*Distance from the top of the screen*/	
		left: 0;					/*Distance from the left side of the screen*/
		right: 0;					/*Distance from the right side of the screen*/
		bottom: 0;					/*Height from the bottom. Larger number = higher up the page*/
		width: 994px;				/*The width of the main div(page)*/
		margin: 0px auto;			/*The space between the top of the page and this div*/
		background-color: #FFFFFF;  
		padding: 2px; 				/*The pad around the whole outside of the page*/
		
		/* height: 100%; */
		max-height: 565;
		/* max-height:600px; */
		overflow: hidden;
		background: #FFFFFF;		/*Colour of the central div*/
		z-index:-2; 				/*Something to do with stacking orders*/
		overflow: auto;
	}
	
div									/*The bottom footer*/
	{
		position: center;
		/*background: #000000;*/	/*We don't need a background colour*/
		width: 50%;					/*Cant see any visible changes on main page*/
		overflow: auto;
		border: 0px solid #FFFF55;
	}
	
.div_mainpage						/*Cant seem to change anything with this*/
	{
		float:left;
		width: 100%;
		/*height: 400px; */
		bottom: 60;
		/* position: absolute; */
		/* top: 72; */
	}

#div_menu							/*Dont know what this changes*/
{
	float:center;
		width: 100%;
		position: static;
		top: 100;
}
	


	
#div_right							/*Cant see any visible changes*/
	{
		/* position:absolute; */
		float: right;
		/* left: 2px; */
		width: 40%;
		/* height: 500px; */
		/* overflow: auto; */
		height:432;
		border-bottom: solid #111 1px;
		background: #FFFFFF;
	}
	
#div2								/*Div that is in the center (contains the picture and the tables)*/
	{
		float: left;
		text-align:center;				/*Alignment for the Welcome text below the tabs*/
		top: 0; 						/*Margin between this div and the page tabs*/
		position: relative; 
		width:100%;
		background: #FFFFFF;			/*Background of the  center div*/
		overflow: auto; 
		min-height: 200; 
		height: 500;					/*Height of this div*/
		border-bottom: solid #111 0px;	/*Border above the bottom div*/
	}

#div3								/*Dont know what this affects*/
	{
		float: right;
		width: 90%;
		background: #000000;
		padding: 10;
		/* position: absolute; */
		top:0;
		bottom: 0;
		min-height: 100; 
		height: 100;
		/* max-height: 300; */
		/* padding-bottom:60px;  */  /* Height of the bottom_div */
		border-bottom: solid #111 11px;
	}
	
	#div4 							/*Dont know what this affects*/
	{
		float: left;
		background: #AACCEE;
		padding: 0;
		/* position: absolute; */
		top: 2;
		bottom: 1;
		width: 100%; 
		min-height: 197; 
		height: 197;
		/* max-height: 300; */
		/* padding-bottom:60px;  */  /* Height of the bottom_div */
		border-bottom: solid #111 1px;

	}

#bottom_div							/*The footer*/
	{
		/* clear:both; */ 
		/* position: absolute; */
		bottom: 0px;
		/* width: 993; */
		width: 100%;
		min-width: 900;
		margin: 0px auto;
		border: 0px solid #FFFFFF;	/* white */
		background-color: #DDDDDD;    /*   999999 dark grey    */
		background: url('images/vf1_bg.png');
		padding: 0px; 
		height: 59;
		z-index:0;
	}

.div_image					/*The picture in the main menu*/
	{
		width: auto;      
		height: auto; 
		float: center;
		left: 0px;
		text-align: center;		
		border: 0px solid #777; 
		margin: 0px 0px 0px 0px;
	}

	
.div_image .caption			/*The caption for the image above*/
	{ 
		padding: .2em;
		background: #FFF; 
		width:auto;
		border: 0px solid #000; 
		display: block;
		font-family: Arial;
		text-align: center;
		font-size: 12px;
	}
	
h2							/*The very top header with text in it*/
	{
		vertical-align: left;
		font-family: Arial;
		font-size:16pt;
		text-align: center;
		background: url(images/nav-bg.png);		/*Colour of the background for this header*/
		padding: 10px 0px 10px 0px;
		margin: -2px -2px -2px -2px; 
		border: 0px solid #FFFF55;
		color: white;				/*Colour of the text in this header*/
	}
	
	.h3
	{
		color: white;
		margin: 70px -10px -10px -10px;
	}
p							/*The footer div*/
	{
		padding: 3px 3px 3px 3px;
		margin: 0px auto;
		background:;
	
	
	}
	

a:link {color:#000000; text-decoration: none}
a:visited {color:#000000; text-decoration: none}  	/* visited link */
a:hover {color:#000000; text-decoration: none}  	/* mouse over link */
a:active {color:#000000; text-decoration: none}	/* selected link */


ul {							/*The tabs*/
	position:left;
	left:0;
	float:right; 
	background:url(images/nav-bg.png);			/*Background for the area around the tabs*/
	width:998px;
	margin: 0px -2px 0px 0px; 
	line-height: 30px;
	padding:0;
	list-style:none;
	border-top:0px solid #fff;

}

li{
	padding: 5x 5px 5px 5px;	/*Padding around the tabs(size)*/
	min-width:123px;
	width:auto;
	float:left;
	display:block;
	min-height:35px;
	text-align:center;			/*Alignment of text in all tabs*/ 
	vertical-align: middle;
	margin:0px -0px 0 0px;		/*top tab spacing, right, bottom, left*/
	background: lightblue;		/*Colour of each non-selected tab*/
	/*font type is handled up above*/
	font-size:12pt;				/*Size of text inside non-selected tabs*/
	font-weight:Bold;
	box-shadow: inset 0 0 1px rgba(0,0,0,.5), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,0);
	border-radius: 20px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
}

 .this_page						/*The tab for the selected page*/
	{
		font-size: 12pt;		
		width: 136px;
		min-height: auto;
		background: white; 	/*Tab colour*/
		color: #000000;			/*Font colour*/
		box-shadow: inset 0 0 1px rgba(0,0,0,0), inset 0 2px 0 rgba(0,0,0,.5), inset 0 -1px 0 rgba(0,0,0,0);
		border-radius: 20px;
		border-bottom-right-radius:0px;
		border-bottom-left-radius:0px;
	}


.p1								/*The text just below the tab bar*/
	{
		clear: both;
		font-family: Arial;
		font-size:12pt;	
		font-weight: bold;
		color: #000000;		
		background: #FFFFFF;
	}
	
.p_message {
		font-size: 10pt;
		color: #6666DD;		/* yellow */
		background: #FFFFFF;     /* DDDDAA: light gold; 999999: dark grey  */
	}
	

	
.table1 
	{
		width: 99%;
		margin:2px 2px;
		font-size:12px;
		border:1px solid #000000; 
		background: #FFFFFF;
	}

.table1 th 
	{
		min-width: 60px;
		font-weight:bold;
		color:#FFFFFF;
		vertical-align:middle; 
		text-align:center;
		border:1px solid #000000; 
		background: blue;
		padding: 2px 2px 2px 2px;
	}
	
.table1 td 
	{
		font-weight:normal;
		color:#000000;
		vertical-align:top; 
		text-align:left;
		border:1px solid #000000; 
		padding: 2px 2px 2px 2px;
	}

.table2 
	{
		width: 49%;
		margin:2px 2px;
		font-size:12px;
		border:1px solid #000000; 
		background: #FFFFFF;
	}

.table2 th 
	{
		min-width: 60px;
		font-weight:bold;
		color:#FFFFFF;
		vertical-align:middle; 
		text-align:center;
		border:1px solid #000000; 
		background: blue;
		padding: 2px 2px 2px 2px;
	}
	
.table2 td 
	{
		font-weight:normal;
		color:#000099;
		vertical-align:middle; 
		text-align:left;
		border:1px solid #000000; 
		padding: 2px 2px 2px 2px;
	}




input[readonly='true']
	{
		background: #000000;
	}

.table2
	{
		background: #AA96A4;
	}

.table2 td
	{
		background: #FFFFFF;
		margin: 12px 12px auto;
		vertical-align: bottom;
	}
	
.clear{ clear:both; }
	
.licence_disclaimer
	{
		padding: 4px;
		font-family: Arial;
		font-size:10pt;
		text-align: justify;
		color: #FFFFFF;
	}
	
.img_vf1
	{
		width: 60;
		height: 50;
		float: left;
		padding: 2px 0 6 6;
	}

.table3 /*the area containing the login box*/
	{
	background:url(images/nav-bg.png)	;
		
	}
	.table4	 /*the login box*/
	{
		text-align:center;
		width: 100%;
		height:130px;
		background: #FFFFFF;
		border-radius:20px;
		box-shadow: inset 2px 2px 4px 1px rgba(.10,.10,.10,.10), inset 0 3px 0 rgba(255,255,255,.5), inset 1px 1px 1px rgba(0,0,0,.4);
	}
